<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="loadMyLoginComponent();">Login Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="loadMyRectangleComponent();">Rectangle Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="loadMyCircleComponent();">Circle Component</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="loadMySignupComponent();">Signup Component</a>
      </li>
    </ul>
  </div>
</nav>


<div class="row">
  <div class="col border">
    <app-leftbar></app-leftbar>
  </div>
  <div class="col-9">
    <app-rectangle *ngIf="loadRectangleComponent"></app-rectangle>
    <app-login *ngIf="loadLoginComponent"></app-login>
    <app-circle *ngIf="loadCircleComponent"></app-circle>
    <app-signup *ngIf="loadSignupComponent"></app-signup>
  </div>
</div>


<!-- <app-rectangle *ngIf="loadRectangleComponent"></app-rectangle>
<app-login *ngIf="loadLoginComponent"></app-login>
<app-circle *ngIf="loadCircleComponent"></app-circle> -->