<div class="container border p-3 mt-5">
    <h3>This is calc Component</h3>
    
    <div class="form-group">
      <label>Enter First Number:</label>
      <input type="number" class="form-control" placeholder="Enter First Number" [(ngModel)]="num1">
    </div>
    <div class="form-group">
        <label>Enter Second Number:</label>
        <input type="number" class="form-control" placeholder="Enter Second Number" [(ngModel)]="num2">
    </div>
    <h4>Addition = {{num1+num2}}</h4>
    <h4>Multiplication = {{num1*num2}}</h4>
    <h4>Substration = {{num1-num2}}</h4>
      
</div>