<div class="container border p-3 mt-5">
    <h3>This is Rectangle Component</h3>
    
    <div class="form-group">
      <label>Enter Length :</label>
      <input type="number" class="form-control" placeholder="Enter Length" [(ngModel)]="Length">
    </div>
    <div class="form-group">
        <label>Enter Width :</label>
        <input type="number" class="form-control" placeholder="Enter Width" [(ngModel)]="Width">
    </div>
    <h5>Area of Rectangle : {{areaOfRectangle()}}</h5>
      
</div>